body{
    position:relative;
}

@font-face {
    font-family: GothamBook;
    src: url(Gotham-Book.otf);
}

@font-face {
    font-family: PriorSan;
    src: url(Gotham-Bold.otf);
    font-weight: bold;
}

@font-face {
    font-family: PriorSan;
    src: url(Gotham-Light.otf);
    font-weight: lighter;
}

h1, h2, h3, h4, h5, h6, html{
    font-family: PriorSan;
    color:black;
}


*{
    box-sizing: border-box;
}


nav{
    position: absolute;
    width:100%;
    background-color: transparent !important;
    top:10px;
}



/*uikit changes*/
.uk-navbar-nav>li.uk-active>a {
    background-color: transparent;
    color:white;
    border-bottom:2px solid #FFE0A7;
}

.uk-navbar-nav>li>a{
    color:white;
    background-color: transparent;
}
/**/

.banner-slider{
    position: relative;
}

.banner-logo{
    max-width: 200px;
    position: absolute;
    top:20px;
    left:0px;
    right:0px; 
    margin:auto;
}

.uk-navbar{
    z-index: 100000;
}

address, blockquote, dl, fieldset, figure, ol, p, pre, ul{
    margin:0px;
}

.banner-slider .uk-dotnav{
    z-index: 1000;
    position:absolute !important;
    top:64%;
}

.uk-navbar-nav{
    background-color: rgba(0,0,0,0.4);
}

.services{
    text-align: center;
    position: absolute;
    bottom: 0vh;
    left: 0px;
    right: 0px;
    /*background: url('../images/banner-dk.jpg');*/
    background-size: cover;
    background-position: center center;
}

.services h4{
    color:#FFE0A7;
    margin:0px;
    font-size: 2.2vw;   
}

.services ul{
    padding-left: 0px;
    margin-left: -32px;
}

.services li{
    display: inline-block;
    color:white;
    padding:1.1vw;
    font-weight: 200;
    font-size: 2vw;

}

.uk-navbar img{
    width:150px;
}

.overlay-inside-content h1{
    font-size: 30px;
}

.services li i{
    color:rgb(0, 0, 0);
    background-color: #FFE0A7;
    border-radius: 100%;
    padding:2px;
    margin-right: 5px;
}

.clearfix{
    clear:both;
}

.uk-dotnav>*>*{
    width:10px !important;
    height:10px !important;

}

.container{
    text-align: center;
    color:black;
}



.myheight{
    height:100px;
}


.myheight, .myheight>li{
    height:100% !important;
    min-height: 100vh;
}
/*.uk-position-cover{
    -webkit-clip-path: polygon(0% 0%, 100% 0, 100% 84%, 50% 100%, 0 84%, 0 0);
    clip-path: polygon(0% 0%, 100% 0, 100% 84%, 50% 100%, 0 84%, 0 0);
}

.uk-overlay-background{
    -webkit-clip-path: polygon(0% 0%, 100% 0, 100% 84%, 50% 100%, 0 84%, 0 0);
    clip-path: polygon(0% 0%, 100% 0, 100% 84%, 50% 100%, 0 84%, 0 0);
    box-shadow: 3px -5px 17px 2px rgba(0, 0, 0, 0.18);

}*/

.banner-slider .uk-slideshow{
    position:absolute !important;
    top:0px;
    left:0px;
    width:100%;
}

.banner-slider .uk-slidenav-position{
    position:relative;
    min-height: 100vh;
}

.banner-slider .uk-overlay-background{
    background: transparent !important;
}


.another{
    position:absolute;
    bottom:23px;
    width:100%;
    z-index: 100;
    opacity: 1 !important;
}

.banner-slider .uk-slideshow>.uk-active{
    position:relative;
}

.container{
    position: relative;
}

.banner-slider .overlay-inside-content{
    margin-top: 5%;
}

.banner-slider .overlay-inside-content p{
    font-style: italic;
    font-weight: lighter;
    max-width:610px;
}

.banner-slider .overlay-inside-content h1{
    font-weight: bolder;
    margin-bottom:0px;
}

.banner-slider .overlay-inside-content.blue p, .overlay-inside-content.blue h1{
    color:#1e2534;
}

.about-us .heading-block{
    background-color: #05192e;
    color:white;
    padding:30px;
}

.about-us .heading-block h1{
    color:white;
    font-weight: 800;
    margin:0px;
}

.about-us .left-block{
    width:50%;
    padding:20px;
    display: inline-block;
    vertical-align: top;
    font-style: italic;
    position: relative;
}

.about-us .right-block{
    width:50%;
    display: inline-block;
    vertical-align: top;
    padding:20px;
}

.about-us p{
    margin-bottom: 14px;
}

.heading.button-style{
    background-color: #ab9364;
    display: inline-block;
    padding: 4px 20PX;
    color:white;
    border-radius: 8px;
    font-style: normal;
    font-size: 20px;
    box-shadow: 1px 3px 3px 0px rgba(0, 0, 0, 0.3);
}

.about-us .left-block .left-content{
    display: inline-block;
    width:50%;
    vertical-align: top;
    padding:10px;
    border-right:2px solid black;
}

.about-us .left-block .right-content{
    display: inline-block;
    width:50%;
    vertical-align: top;
    padding:10px;
}

.about-us .left-block .left-content ul{
    padding-left: 0px;
}

.about-us .left-block .left-content li{
    display: block;
    text-align: left;
}

.background-round{
    position: absolute;
    width:100%;
    top:50%;
    margin-top: -45%;
    left:0px;
    padding:50px;
    z-index:-1;
}

.investors .heading-block{
    background-image: url('../images/bg-investors.png');
    background-position: center center;
    background-size: cover;
    color:white;
    padding:30px;
}

.investors .heading-block h1{
    margin:0px;
    padding:0px;
    font-weight: bolder;
    color:white;
}

.investors .left-block{
    display: inline-block;
    width:50%;
    vertical-align: top;
    padding:5%;
    text-align: left;
}

.investors .left-block p{
    padding-bottom: 10px;
    font-style: italic;
}

.investors .right-block{
    display: inline-block;
    width:50%;
    vertical-align: top;
    padding:5%;
}

.investors .right-block .investor-img{
    border-radius: 100%;
    box-shadow: 1px 3px 3px 0px rgba(0, 0, 0, 0.3);
    max-width: 260px;
    background: url("../images/investor.png");
    background-size: cover;
    background-position: center center;
    height:260px;
    width:260px;
    display: inline-block;
}

.investors .right-block h2{
    color:#3c4c5c;
    font-style: italic;
}

.contact-us .heading-block{
    padding:30px;
    background-color: #05192e;
}
.contact-us .heading-block h1{
    color:white;
    font-weight: bolder;
    margin:0px;
    padding: 0px;
}

.contact-table .right-side{
    display: inline-block;
    width:50%;
    vertical-align: top;
    padding:5%;
    text-align: left;
}

.contact-table .left-side{
    display: inline-block;
    width:50%;
    vertical-align: top;
    padding:5%;
    text-align: left;
    border-right: 1px solid #ab9364;
}

.italic{
    font-style: italic;
}

.contact-table{
    border:1px solid #ab9364;
}

.contact-table i{
    margin-right: 5px;
}

.contact-table .right-side label{
    display: block;
    font-weight: bolder;
}

.contact-table .right-side input, .contact-table .right-side textarea{
    border:none;
    border-bottom: 1px solid #ab9364;
    width:100%;
    margin-bottom: 15px;
}



@media (max-width: 800px) {
  .about-us .left-block {
    width:100%;
  }

  .about-us .right-block{
    width:100%;
    padding-left: 0px;
    padding-right: 0px;
  }

  .background-round{
    margin-top: -52%;
  }

  .investors .left-block{
    width:100%;
  }

  .investors .right-block{
    width:100%;
    padding-top:0px;
  }

  .contact-table .left-side{
    width:100%;
    border:none;
    border-bottom:1px solid #ab9364;
  }

  .contact-table .right-side{
    width:100%;
  }
}