body{
    position:relative;
}

.cover-image{
    background-image:url('../images/banner3.jpg');
    background-size: cover;
    background-position: center center;
    width:100%;
    height:100vh;
    display: inline-block;
}


nav{
    position: fixed;
    width:100%;
    background-color: transparent !important;
    top:0px;
}



/*uikit changes*/
.uk-navbar-nav>li.uk-active>a {
    background-color: transparent;
    color:white;
}

.uk-navbar-nav>li>a{
    color:white;
    background-color: transparent;
}
/**/



.banner-logo{
    max-width: 200px;
    position: absolute;
    top:20px;
    left:0px;
    right:0px; 
    margin:auto;
}